<!-- wp:template-part {"slug":"header","theme":"udemy"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"className":"container !mx-auto","layout":{"type":"flex","orientation":"vertical","justifyContent":"center","flexWrap":"nowrap"}} -->
<div class="wp-block-group container !mx-auto"><!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"8rem","lineHeight":"1"}},"textColor":"u-white","className":"shadow-404"} -->
    <h1 class="wp-block-heading has-text-align-center shadow-404 has-u-white-color has-text-color" style="font-size:8rem;line-height:1">404</h1>
    <!-- /wp:heading -->
    
    <!-- wp:heading {"style":{"typography":{"fontSize":"1.88rem","fontStyle":"normal","fontWeight":"500","lineHeight":"1.2"},"spacing":{"margin":{"top":"1rem","bottom":"1rem"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"fontFamily":"u-rubik"} -->
    <h2 class="wp-block-heading has-u-rubik-font-family" style="margin-top:1rem;margin-bottom:1rem;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:1.88rem;font-style:normal;font-weight:500;line-height:1.2">We can't seem to find the page you are looking for.<br><a href="#"></a></h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"style":{"typography":{"textDecoration":"underline"},"elements":{"link":{"color":{"text":"var:preset|color|u-gray-800"}}},"spacing":{"margin":{"top":"1rem"}}},"className":"underline-offset-4"} -->
    <p class="underline-offset-4 has-link-color" style="margin-top:1rem;text-decoration:underline"><a href="http://udemy.local/" data-type="URL" data-id="http://udemy.local/">Head back to the home page.</a></p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"udemy"} /-->