<!-- wp:template-part {"slug":"header","theme":"udemy"} /-->

<!-- wp:columns {"className":"container !mx-auto"} -->
<div class="wp-block-columns container !mx-auto"><!-- wp:column {"width":"66.66%"} -->
    <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:post-title {"style":{"typography":{"fontStyle":"normal","fontWeight":"600","textTransform":"none","lineHeight":"2.5"},"spacing":{"margin":{"bottom":"1rem"}}},"textColor":"u-gray-700","fontSize":"large"} /-->
    
    <!-- wp:post-featured-image {"style":{"border":{"radius":"0.5rem"},"spacing":{"margin":{"bottom":"1rem"}}},"className":"overflow-hidden"} /-->
    
    <!-- wp:post-content /-->
    
    <!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"500","fontSize":"1.5rem","lineHeight":"2"}}} -->
    <h2 class="wp-block-heading" style="font-size:1.5rem;font-style:normal;font-weight:500;line-height:2">Comments</h2>
    <!-- /wp:heading -->
    
    <!-- wp:comments -->
    <div class="wp-block-comments"><!-- wp:comment-template -->
    <!-- wp:columns {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":{"top":"0","left":"0"}},"border":{"bottom":{"color":"var:preset|color|u-gray-200","width":"1px"}}}} -->
    <div class="wp-block-columns" style="border-bottom-color:var(--wp--preset--color--u-gray-200);border-bottom-width:1px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column {"width":"40px"} -->
    <div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"isLink":true,"style":{"border":{"radius":"20px"}}} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"style":{"spacing":{"padding":{"left":"1rem"},"blockGap":"0px"}}} -->
    <div class="wp-block-column" style="padding-left:1rem"><!-- wp:comment-author-name {"style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"spacing":{"margin":{"bottom":"0.5rem","top":"0px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"fontSize":"small"} /-->
    
    <!-- wp:comment-content {"style":{"spacing":{"padding":{"top":"0.5rem","bottom":"0.5rem"}}}} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    <!-- /wp:comment-template -->
    
    <!-- wp:post-comments-form {"style":{"spacing":{"margin":{"bottom":"0.75rem"}}},"className":"comments-section"} /--></div>
    <!-- /wp:comments --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"33.33%"} -->
    <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:template-part {"slug":"sidebar","theme":"udemy","area":"uncategorized"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:template-part {"slug":"footer","theme":"udemy"} /-->