<!-- wp:template-part {"slug":"header","theme":"udemy"} /-->

<!-- wp:columns {"className":"container !mx-auto"} -->
<div class="wp-block-columns container !mx-auto"><!-- wp:column {"width":"66.66%"} -->
    <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"1rem"},"blockGap":"1rem"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:1rem"><!-- wp:post-author {"style":{"elements":{"link":{"color":{"text":"var:preset|color|u-gray-700"}}},"spacing":{"padding":{"bottom":"0px"},"margin":{"right":"1rem"}}},"textColor":"u-gray-700","className":"post-author "} /-->
    
    <!-- wp:post-date {"format":"M j","style":{"spacing":{"margin":{"top":"0px"}}},"textColor":"u-gray-500"} /-->
    
    <!-- wp:post-comments-count {"style":{"spacing":{"margin":{"top":"0px"}}},"className":"bi post-comment-count !ml-auto"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-title {"style":{"typography":{"fontStyle":"normal","fontWeight":"600","textTransform":"none","lineHeight":"2.5"},"spacing":{"margin":{"bottom":"1rem"}}},"textColor":"u-gray-700","fontSize":"large"} /-->
    
    <!-- wp:post-featured-image {"style":{"border":{"radius":"0.5rem"},"spacing":{"margin":{"bottom":"1rem"}}},"className":"overflow-hidden"} /-->
    
    <!-- wp:post-content /-->
    
    <!-- wp:post-terms {"term":"post_tag","className":"post-content-tags"} /-->
    
    <!-- wp:columns {"verticalAlignment":"center","isStackedOnMobile":false,"style":{"spacing":{"blockGap":{"top":"0px","left":"0px"},"margin":{"top":"2rem","bottom":"2rem"}},"border":{"radius":"0.5rem","width":"1px"}},"borderColor":"u-gray-200"} -->
    <div class="wp-block-columns are-vertically-aligned-center is-not-stacked-on-mobile has-border-color has-u-gray-200-border-color" style="border-width:1px;border-radius:0.5rem;margin-top:2rem;margin-bottom:2rem"><!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"padding":{"right":"0.75rem","left":"0.75rem","top":"1.25rem","bottom":"1.25rem"}},"border":{"top":{"width":"0px","style":"none"},"right":{"width":"1px","color":"var:preset|color|u-gray-200"},"bottom":{"width":"0px","style":"none"},"left":{"width":"0px","style":"none"}}},"className":"transition-all hover:bg-gray-100 text-center","layout":{"type":"default"}} -->
    <div class="wp-block-column is-vertically-aligned-center transition-all hover:bg-gray-100 text-center" style="border-top-style:none;border-top-width:0px;border-right-color:var(--wp--preset--color--u-gray-200);border-right-width:1px;border-bottom-style:none;border-bottom-width:0px;border-left-style:none;border-left-width:0px;padding-top:1.25rem;padding-right:0.75rem;padding-bottom:1.25rem;padding-left:0.75rem"><!-- wp:post-navigation-link {"type":"previous","arrow":"arrow"} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"padding":{"right":"0.75rem","left":"0.75rem","top":"1.24rem","bottom":"1.25rem"}}},"className":"transition-all hover:bg-gray-100 text-center","layout":{"type":"default"}} -->
    <div class="wp-block-column is-vertically-aligned-center transition-all hover:bg-gray-100 text-center" style="padding-top:1.24rem;padding-right:0.75rem;padding-bottom:1.25rem;padding-left:0.75rem"><!-- wp:post-navigation-link {"arrow":"arrow"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"500","fontSize":"1.5rem","lineHeight":"2"}}} -->
    <h2 class="wp-block-heading" style="font-size:1.5rem;font-style:normal;font-weight:500;line-height:2">Comments</h2>
    <!-- /wp:heading -->
    
    <!-- wp:comments -->
    <div class="wp-block-comments"><!-- wp:comment-template -->
    <!-- wp:columns {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":{"top":"0","left":"0"}},"border":{"bottom":{"color":"var:preset|color|u-gray-200","width":"1px"}}}} -->
    <div class="wp-block-columns" style="border-bottom-color:var(--wp--preset--color--u-gray-200);border-bottom-width:1px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column {"width":"40px"} -->
    <div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"isLink":true,"style":{"border":{"radius":"20px"}}} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"style":{"spacing":{"padding":{"left":"1rem"},"blockGap":"0px"}}} -->
    <div class="wp-block-column" style="padding-left:1rem"><!-- wp:comment-author-name {"style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"spacing":{"margin":{"bottom":"0.5rem","top":"0px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"fontSize":"small"} /-->
    
    <!-- wp:comment-content {"style":{"spacing":{"padding":{"top":"0.5rem","bottom":"0.5rem"}}}} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    <!-- /wp:comment-template -->
    
    <!-- wp:post-comments-form {"style":{"spacing":{"margin":{"bottom":"0.75rem"}}},"className":"comments-section"} /--></div>
    <!-- /wp:comments --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"33.33%"} -->
    <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:template-part {"slug":"sidebar","theme":"udemy","area":"uncategorized"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:template-part {"slug":"footer","theme":"udemy"} /-->